.jp-GlobusFileBrowser {
    background-color: var(--jp-layout-color1);
    height: 100%;
}

.jp-Globus-logo {
    background-size: 100%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/globus.png);
    background-repeat: no-repeat;
}

.jp-Globus-tablogo {
    background-size: 100%;
    width: var(--jp-private-sidebar-tab-width);
    height: var(--jp-private-sidebar-tab-width);
    background-image: url(../assets/globus_dark.png);
    background-repeat: no-repeat;
}

.jp-GlobusLoginScreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jp-Globus-signInButton {
    margin: 10px;
}
