.jp-Globus-home {
    background-color: var(--jp-layout-color1);
    font-size: 0.8em;
    display: flex;
}

.jp-Globus-loginScreen {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jp-Globus-logo {
    background-size: 100%;
    width: 150px;
    height: 150px;
    background-image: var(--jp-Globus-image-logo);
    background-repeat: no-repeat;
}

.jp-Globus-tablogo {
    background-size: 100%;
    width: var(--jp-private-sidebar-tab-width);
    height: var(--jp-private-sidebar-tab-width);
    background-image: var(--jp-Globus-image-logo-dark);
    background-repeat: no-repeat;
}