.jp-Globus-loader {
    border: 3px solid var(--jp-Globus-bgGray);
    border-top-color: var(--jp-Globus-selectBlue);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.jp-Globus-loaderLabel {
    margin: 10px auto;
    text-align: center;
}

.jp-Globus-border {
    border-radius: 3px;
}

.jp-Globus-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.jp-Globus-input {
    margin: 0 0 10px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 8px 0 8px 12px;
}

.jp-Globus-list {
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    border: 1px solid var(--jp-Globus-borderGray);
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.jp-Globus-list > .jp-Globus-listItem:first-child {
    margin-top: -1px;
}

.jp-Globus-listItem {
    border: 1px solid var(--jp-Globus-borderGray);
    border-left: none;
    border-right: none;
    margin-bottom: -1px;
    list-style-type: none;
    padding: 5px 5px 5px 8px;
    overflow-wrap: break-word;
    user-select: none;
}

.jp-Globus-listItem:not(.jp-Globus-selected):hover {
    background-color: var(--jp-Globus-bgGray);
}

.jp-Globus-listItemTitle {
    color: var(--jp-Globus-accentBlue);
    white-space: pre-wrap;
}

.jp-Globus-listItemSubtitle {
    display: inline;
    font-size: 0.9em;
    color: var(--jp-Globus-textGray);
    font-style: italic;
    white-space: pre-wrap;
}

.jp-Globus-fetchError {
    line-height: 40px;
    margin: 10px;
}

.jp-Globus-fetchError::before {
    content: '';
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background: var(--jp-Globus-icon-warning) no-repeat;
    background-size: contain;
}

.jp-Globus-header {
    text-align: center;
    font-size: 1em;
    background: var(--jp-Globus-bgBlue);
    color: white;
    padding: 5px;
    user-select: none;
}

.jp-Globus-success {
    background: var(--jp-Globus-bgGreen) !important;
    color: var(--jp-Globus-textGreen) !important;
    border-color: var(--jp-Globus-textGreen) !important;
    padding: 5px 10px;
}

.jp-Globus-fail {
    background: var(--jp-Globus-bgRed) !important;
    color: var(--jp-Globus-textRed) !important;
    border-color: var(--jp-Globus-textRed) !important;
    padding: 5px 10px;
}

.jp-Globus-button {
    background: var(--jp-Globus-selectBlue);
    text-align: center;
    border: transparent;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px;
    min-width: 100px;
    color: white;
}

.jp-Globus-button:hover {
    background: #014c8c;
}

.jp-Globus-displayFlex {
    flex: 1 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: column;
}

.jp-Globus-errorImage {
    background-size: 100%;
    width: 150px;
    height: 150px;
    background-image: var(--jp-Globus-icon-warning);
    background-repeat: no-repeat;
}

.jp-Globus-menuBtn {
    cursor: pointer;
    display: inline;
    flex: 1 1 auto;
    text-align: center;
    min-width: 30px;
    line-height: 30px;
    color: var(--jp-Globus-accentBlue);
    font-size: 0.9em;
}

.jp-Globus-menuBtn:hover, .jp-Globus-menuBtn.jp-Globus-selected  {
    background-color: white;
}

.jp-Globus-menu {
    display: flex;
    min-height: 30px;
    border: 1px solid var(--jp-Globus-borderGray);
    background: var(--jp-Globus-bgGray);
    user-select: none;
}

.jp-Globus-descriptionTerm {
    margin-top: 7px;
    margin-left: 10px;
    color: var(--jp-Globus-textGray);
}

.jp-Globus-descriptionDetails {
    margin-left: 20px;
    margin-bottom: 3px;
}

input {
    position: relative;
    top: 2px;
}