:root {
    --jp-Globus-blue: #2F4986;
    --jp-Globus-lightblue: #3498db;

    --jp-Globus-image-logo: url(../assets/images/globus.png);
    --jp-Globus-image-logo-dark: url(../assets/images/globus_dark.png);

    --jp-Globus-icon-file: url(../assets/icons/file.svg);
    --jp-Globus-icon-folder: url(../assets/icons/folder.svg);
    --jp-Globus-icon-folder2: url(../assets/icons/folder2.svg);
    --jp-Globus-icon-logout: url(../assets/icons/logout.svg);
    --jp-Globus-icon-search: url(../assets/icons/search.svg);
    --jp-Globus-icon-warning: url(../assets/icons/warning.svg);
    --jp-Globus-icon-angle-arrow-up: url(../assets/icons/angle-arrow-up.svg);
    --jp-Globus-icon-angle-arrow-down: url(../assets/icons/angle-arrow-down.svg);
    --jp-Globus-icon-up-arrow: url(../assets/icons/up-arrow.svg);
    --jp-Globus-icon-refresh: url(../assets/icons/round-arrow.svg);
    --jp-Globus-icon-connect-personal: url(../assets/icons/GCP.svg);
    --jp-Globus-icon-activity: url(../assets/icons/pulse.svg);
    --jp-Globus-icon-clock: url(../assets/icons/clock.svg);
    --jp-Globus-icon-history: url(../assets/icons/history.svg);
}
