:root {
    --jp-Globus-hoverBlue: #014c8c;
    --jp-Globus-selectBlue: #0074af;
    --jp-Globus-bgBlue: #263965;
    --jp-Globus-accentBlue: #468cc8;
    --jp-Globus-darkBlue: #263965;
    --jp-Globus-lightBlue: #468cc8;
    --jp-Globus-textGreen: #0d340d;
    --jp-Globus-bgGreen: #a6e9a6;
    --jp-Globus-darkGreen: #0d340d;
    --jp-Globus-lightGreen: #a6e9a6;
    --jp-Globus-textRed: #340d0d;
    --jp-Globus-bgRed: #e18787;
    --jp-Globus-darkRed: #340d0d;
    --jp-Globus-lightRed: #e18787;
    --jp-Globus-borderGray: #ccc;
    --jp-Globus-bgGray: #eee;
    --jp-Globus-textGray: #777;
    --jp-Globus-Gray: #ccc;
    --jp-Globus-lightGray: #eee;
    --jp-Globus-darkGray: #777;

    --jp-Globus-image-logo: url(../assets/images/globus.svg);
    --jp-Globus-image-logo-dark: url(../assets/images/globus_dark.svg);

    --jp-Globus-icon-file: url(../assets/icons/file.svg);
    --jp-Globus-icon-toolbarFolder: url(../assets/icons/folder.svg);
    --jp-Globus-icon-dirFolder: url(../assets/icons/folder2.svg);
    --jp-Globus-icon-newFolder: url(../assets/icons/folder3.svg);
    --jp-Globus-icon-shareFolder: url(../assets/icons/folder4.svg);
    --jp-Globus-icon-renameFolder: url(../assets/icons/folder5.svg);
    --jp-Globus-icon-deleteFolder: url(../assets/icons/folder6.svg);
    --jp-Globus-icon-logout: url(../assets/icons/logout.svg);
    --jp-Globus-icon-search: url(../assets/icons/search.svg);
    --jp-Globus-icon-warning: url(../assets/icons/warning.svg);
    --jp-Globus-icon-angle-arrow-up: url(../assets/icons/angle-arrow-up.svg);
    --jp-Globus-icon-angle-arrow-down: url(../assets/icons/angle-arrow-down.svg);
    --jp-Globus-icon-angle-arrow-right: url(../assets/icons/angle-arrow-right.svg);
    --jp-Globus-icon-angle-arrow-left: url(../assets/icons/angle-arrow-left.svg);
    --jp-Globus-icon-up-arrow: url(../assets/icons/up-arrow.svg);
    --jp-Globus-icon-refresh: url(../assets/icons/round-arrow.svg);
    --jp-Globus-icon-connect-personal: url(../assets/icons/GCP.svg);
    --jp-Globus-icon-activity: url(../assets/icons/pulse.svg);
    --jp-Globus-icon-clock: url(../assets/icons/clock.svg);
    --jp-Globus-icon-history: url(../assets/icons/history.svg);
    --jp-Globus-icon-success: url(../assets/icons/check-symbol.svg);
    --jp-Globus-icon-fail: url(../assets/icons/fail-symbol.svg);
    --jp-Globus-icon-back: url(../assets/icons/back-arrow.svg);
    --jp-Globus-icon-info: url(../assets/icons/info.svg);
    --jp-Globus-icon-hamburger: url(../assets/icons/hamburger.svg);
    --jp-Globus-icon-transfer: url(../assets/icons/transfer-arrows.svg);
    --jp-Globus-icon-start: url(../assets/icons/start.svg);
    --jp-Globus-icon-check-circle: url(../assets/icons/check-circle.svg);
    --jp-Globus-icon-fail-circle: url(../assets/icons/fail-circle.svg);
    --jp-Globus-icon-list-sort-down: url(../assets/icons/list-sort-down.svg);
    --jp-Globus-icon-list-sort-up: url(../assets/icons/list-sort-up.svg);
}
