.jp-Globus-widgetManager {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.jp-Globus-widgetManager .jp-WidgetManager-toolbar {
    border-bottom: none;
    padding: 6px;
    height: auto;
}

.jp-Globus-widgetManager .jp-WidgetManager-connectPersonalBtn {
    background: var(--jp-Globus-icon-connect-personal) no-repeat center;
}

.jp-Globus-widgetManager .jp-WidgetManager-fileManagerBtn .jp-ToolbarButtonComponent{
    background: var(--jp-Globus-icon-toolbarFolder) no-repeat center;
}

.jp-Globus-widgetManager .jp-WidgetManager-activityBtn .jp-ToolbarButtonComponent{
    background: var(--jp-Globus-icon-activity) no-repeat center;
}

.jp-Globus-widgetManager .jp-WidgetManager-searchBtn .jp-ToolbarButtonComponent{
    background: var(--jp-Globus-icon-search) no-repeat center;
}

.jp-Globus-widgetManager .jp-WidgetManager-signOutBtn .jp-ToolbarButtonComponent{
    background: var(--jp-Globus-icon-logout) no-repeat center;
}

.jp-Globus-widgetManager .jp-WidgetManager-toolbarBtn {
    flex: 1 1 auto;
}

.jp-Globus-widgetManager .jp-WidgetManager-toolbarBtn .jp-ToolbarButtonComponent {
    width: 100%;
    background-size: 25px;
}

.jp-Globus-widgetManager .jp-WidgetManager-toolbarBtn.jp-Globus-selected {
    background: #222;
}

.jp-Globus-widgetManager .jp-WidgetManager-header {
    font-size: 1.2em;
    min-height: 30px;
    line-height: 30px;
    box-shadow: 0 2px 10px black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 7px;
}
