.jp-Globus-toolbar {
    border-bottom: none;
    height: auto;
    margin: 3px;
}

.jp-Toolbar-button.jp-Globus-toolbarBtn {
    width: 48px;
    height: 32px;
}

.jp-Globus-connectPersonalBtn {
    background: var(--jp-Globus-icon-connect-personal);
}

.jp-Globus-fileManagerBtn {
    background: var(--jp-Globus-icon-folder);
}

.jp-Globus-activityBtn {
    background: var(--jp-Globus-icon-activity);
}

.jp-Globus-signOutBtn {
    background: var(--jp-Globus-icon-logout);
}

.jp-Globus-widgetHeader {
    background: var(--jp-Globus-lightblue);
    color: white;
    text-align: center;
    padding: 5px;
}
