.jp-Globus-file-manager {
    font-size: 0.8em;
    overflow: auto;
    max-height: 90vh;
}

.jp-Globus-file-manager .jp-FileManager-dirMenu {
    height: 30px;
    border-color: #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #eee;
    margin: 10px 0 0;
}

.jp-Globus-file-manager .jp-FileManager-menuBtn {
    cursor: pointer;
    display: inline;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
    color: var(--jp-Globus-lightblue);
    margin: 9px;
    line-height: 30px;
    font-size: 0.9em;
}

.jp-Globus-file-manager .jp-FileManager-menuSelect:hover, .jp-Globus-menuTransfer:hover{
    text-decoration: underline;
}

.jp-Globus-file-manager .jp-FileManager-searchInfo {
    border-color: #ddd;
    background-color: white;
    padding: 5px 10px;
    color: #999;
    font-style: italic;
    white-space: pre-wrap;
    margin-top: 0;
}

.jp-Globus-file-manager .jp-FileManager-menuUpFolder::before {
    content: '     ';
    background: var(--jp-Globus-icon-up-arrow) no-repeat;
    background-size: contain;
    white-space: pre-wrap;
}

.jp-Globus-file-manager .jp-FileManager-menuRefresh::before {
    content: '     ';
    background: var(--jp-Globus-icon-refresh) no-repeat;
    background-size: contain;
    white-space: pre-wrap;
}

.jp-Globus-file-manager .jp-FileManager-endpointList {
    margin-top: 10px;
}

.jp-Globus-file-manager .jp-FileManager-dirList {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.jp-Globus-file-manager .jp-FileManager-transferResult {
    background: transparent;
}

.jp-Globus-file-manager .jp-FileManager-startTransferBtn {
    margin: 10px 32%;
}