.jp-Globus-file-manager {
    font-size: 0.8em;
    overflow: auto;
    max-height: 90vh;
}

.jp-Globus-inputGroup {
    margin: 10px;
}

.jp-Globus-input {
    border: 1px solid var(--jp-Globus-lightblue);
    border-radius: 3px;
    background: white;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0 8px 12px;
}

.jp-Globus-list {
    padding: 0;
    border: 1px solid var(--jp-Globus-lightblue);
    border-radius: 3px;
    height: 100%;
    max-height: 90vh;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.jp-Globus-listItem {
    border: solid #ddd;
    border-width: 0 1px 2px 1px;
    margin-top: -1px;
    background-color: white;
    padding: 6px 0 7px 12px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    display: block;
    white-space: pre-wrap;
}

.jp-Globus-listItem:hover {
    background-color: #ddd;
}

.jp-Globus-listItemTitle {
    color: var(--jp-Globus-lightblue);
}

.jp-Globus-directoryItem {
    padding-left: 45px;
    background: var(--jp-Globus-icon-file) no-repeat 5px 3px;
    background-size: 30px 40px;
}

.jp-Globus-permissionDenied {
    padding-left: 45px;
    background: var(--jp-Globus-icon-warning) no-repeat 5px 3px;
    background-size: 30px 40px;
    line-height: 32px;
    vertical-align: middle;
}

.jp-Globus-header {
    font-size: 1em;
    background-color: var(--jp-Globus-blue);
    background-image: var(--jp-Globus-icon-search) top right contain no-repeat;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.jp-Globus-button.jp-Globus-startTransferBtn {
    margin: 0 auto;
}